{% extends "base.html" %}
{% block title %}Hashtag : #{{ tag }}{% endblock %}
{% block content %}
<h1>Hashtag : #{{ tag }}</h1>
{% for comment in comments %}
  <div class="comment mb-3">
    <small>
      <strong><a href="{{ url_for('profile', username=comment.author.username) }}">{{ comment.author.username }}</a></strong>
      sur le post <a href="{{ url_for('index') }}#post-{{ comment.post.id }}">(Voir)</a>
      - {{ comment.timestamp.strftime('%d/%m/%Y %H:%M') }}
    </small>
    <p>{{ comment.content|parse_comment|safe }}</p>
  </div>
{% else %}
  <p>Aucun commentaire trouvé pour ce hashtag.</p>
{% endfor %}
{% endblock %}
