name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: self-hosted
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Thanks for opening an issue! We hope it will be solved quickly."
        pr-message: "Thanks for that pull request! We hope it will be merged soon."
